
@import '../../../styles/constants';


.program-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
padding-top: 60px;
  @media (max-width: $small-breakpoint-width) {
    justify-content: center;
  }
}

.program-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 260px;

  .mat-card-title {
    font-size: 20px;
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.program-list-card-summary {
  min-height: 2.4em;
  margin-bottom: 8px;
}

