@import '~@angular/material/theming';
@import './app-theme';

@import './styles/general';

// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-red, 700, 300, 900);
$accent: mat-palette($mat-blue-gray, 500, 900, A100);
$warn: mat-palette($mat-deep-orange, A200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include doc-theme($theme);

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}